target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
build/
.mvn/
.idea/
.vscode/

.project
.classpath
.settings
*.iml
.DS_Store

**/node_modules
.dockerignore
